/* Sidebar SIG Sand 1 */
[data-testid="stSidebar"] {background:#f2fefb!important;}

/* Oculta APP */
section[data-testid="stSidebarNav"] ul li:first-child {display:none!important;}

/* Texto normal */
section[data-testid="stSidebarNav"] ul li a {color:#555!important;font-weight:400!important;}

/* Item selecionado */
section[data-testid="stSidebarNav"] ul li a[data-selected="true"] {
    background:#145efc!important;color:white!important;font-weight:600!important;border-radius:8px!important;
}

/* Fontes */
@font-face {font-family:'SIGFlow';src:url('../fonts/PPSIGFlow-Regular.otf');font-weight:400;}
@font-face {font-family:'SIGFlow';src:url('../fonts/PPSIGFlow-SemiBold.otf');font-weight:600;}
@font-face {font-family:'SIGFlow';src:url('../fonts/PPSIGFlow-Bold.otf');font-weight:700;}

html, body, p, span, div {
    font-family:'SIGFlow',sans-serif!important;
    font-size:18px!important;
    color:#555!important;
    line-height:1.5!important;
}
h1 {font-size:44px!important;font-weight:700!important;color:#000;}
